################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/Properties/PublishProfiles
/ProtectorTokenAuth.csproj.user
/ProtectorTokenAuth.csproj.vspscc
/.vs/ProtectorTokenAuth/v16
